    <br>
    <br>
    <table>
        <tr>
            <td style="font-weight:bold;"><h5>Afiliado: #[AFILIADO]</h5></td>
            <td></td>
            <td style="font-weight:bold;"><h5>Técnico:  [TECNICO]</h5></td>
        </tr>
        <tr>
            <td style="font-weight:bold;"><h5>Contacto: [CONTACTO]</h5></td>
            <td></td>
            <td style="font-weight:bold;"><h5>Coordinador: [RESPONSABLE]</h5></td>
        </tr>
    </table>
    <br>
    <br>
    <table> 
        <tr>
            <td>
                <h5 style="text-align:center;">En este documento el técnico realiza una valoración visual de los componentes.
                    En el caso de ser retirados estos serán sometidos a una revisión física y técnica profunda, en la cuál se determinara el estado final del producto.
                    El resultado final queda sujeto a la aprobación físico-técnica en nuestros laboratorios.
                </h5>
            </td>
        </tr>   
        <tr>
            <td style="font-weight:bold; text-align:center;"><h5>Para soporte técnico, Teléfono: (506) 2202-8999 / Email: soportePOS@grupo3c.com</h5></td>
        </tr>   
    </table>    