<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <br>
    <br>
    <table>
        <tr>
            <td style="font-weight:bold;" colspan="2"><h3>Bitácora de [TIPO_BOLETA]</h3></td>
            <td style="font-weight:bold; color:#005CAE;"><h4>Boleta: #[NUM_BOLETA]</h4></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td><h6 style="font-weight:bold;">Afiliado: #[N_AFILIADO]</h6></td>
            <td><h6 style="font-weight:bold;">Provincia: [PROVINCIA]</h6></td>
            <td><h6 style="font-weight:bold;">Técnico: [TECNICO]</h6></td>
        </tr>
        <tr>
            <td><h6 style="font-weight:bold;">Comercio: [COMERCIO]</h6></td>
            <td><h6 style="font-weight:bold;">Cantón: [CANTON]</h6></td>
            <td><h6 style="font-weight:bold;">Tipo: [TIPO]</h6></td>
        </tr>
        <tr>
            <td><h6 style="font-weight:bold;">Contacto: [CONTACTO]</h6></td>
            <td><h6 style="font-weight:bold;">Distrito: [DISTRITO]</h6></td>
            <td><h6 style="font-weight:bold;">Dia/Hora Evento: [DIA]</h6></td>
        </tr>
        <tr>
            <td><h6 style="font-weight:bold;">Teléfono: [TELEFONO]</h6></td>
            <td><h6 style="font-weight:bold;">Dirección: [DIRECCION]</h6></td>
            <td></td>
        </tr>
    </table>
    <br/>
    <br>
    <table>
        <tr>
            <td></td>
            <td style="font-weight:bold;"><h3>Detalle de la boleta</h3></td>
            <td></td>
        </tr>
    </table>
    <br>
</body>
</html>
