    <table>
        <tr>
            <td style="font-weight:bold;"><h4>Tipo de conexión:</h4></td>
            <td style="font-weight:bold;"><h4>Detalle de la instalación:</h4></td>
            <td style="font-weight:bold;"><h4>Exposición equipo:</h4></td>
        </tr>
        <tr>
            <td><h5>[CONEXION]</h5></td>
            <td><h5>[D_INTALACION]</h5></td>
            <td><h5>[EXPOSICION]</h5></td>
        </tr>
    </table>
    
    <table>
        <tr>
            <td style="font-weight:bold;"><h4>Pruebas realizadas:</h4></td>
        </tr>
        <tr>
            <td><h5>[PRUEBAS]</h5></td>
        </tr>
    </table>
    
    <br>
    
    <table>
        <tr>
            <td style="font-weight:bold;"><h3>Observaciones:</h3></td>
        </tr>
        <tr>
            <td><h5>[OBSERVACIONES]</h5></td>
        </tr>
    </table>