    <table>
        <tr>
            <td style="font-weight:bold;"><h4>Avería reportada:</h4></td>
            <td style="font-weight:bold;"><h4>Diagnóstico:</h4></td>
            <td style="font-weight:bold;"><h4>Solución:</h4></td>
        </tr>
        <tr>
            <td><h5>[AVERIA]</h5></td>
            <td><h5>[DIAGNOSTICO]</h5></td>
            <td><h5>[SOLUCION]</h5></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td style="font-weight:bold;"><h4>Exposición del equipo:</h4></td>
        </tr>
        <tr>
            <td><h5>[EXPOSICION]</h5></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td style="font-weight:bold;"><h4>Mantenimiento:</h4></td>
            <td style="font-weight:bold;"><h4>Pruebas:</h4></td>
        </tr>
        <tr>
            <td><h5>[MANTENIMIENTO]</h5></td>
            <td><h5>[PRUEBAS]</h5></td>
        </tr>
        <tr></tr>
        <tr>
            <td><h5>[MANTENIMIENTO_GENERAL]</h5></td>
            <td><h5>[EQUIPO_FALTANTE]</h5></td>
        </tr>
    </table>
